
.DS_Store
node_modules
/android/build
/android/RCTWeChat.iml

# ios
ios/build
/ios/RCTWeChat.xcodeproj/project.xcworkspace/xcuserdata
/Example/ios/Example.xcodeproj/project.xcworkspace/xcuserdata

.gradle
/android/.project
/android/.settings
Example/yarn-error.log

.history